*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Exclude data files and Scala worksheets.
Big Data Analysis with Scala and Spark/week1/wikipedia/src/main/resources/wikipedia/*.dat
Big Data Analysis with Scala and Spark/**/*.csv
Big Data Analysis with Scala and Spark/**/*.sc

# Scala-IDE specific
.scala_dependencies
.worksheet

# IntelliJ IDEA specific
.idea
.idea_modules

# Vi IMproved specific
.vim
